

body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
}


.page {
	max-width: 1250px;
	margin-left: 6%;
}


.bar_menu {
	background: #FF3F10;
	position: fixed;
	max-width: 1250px;
	width: 100%;
	z-index: 3;
	height: 80px;
	margin-top: 0px;
}


.bar_menu img{
	float: left;
	vertical-align: middle;
	padding-top: 20px;
}


.bar_menu .main_menu {
	float: left;
	list-style: none;
	height: 100%;
	margin-top: 0px;
}


.bar_menu .main_item {
	display: inline-block;
	background: #FF3F10;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	vertical-align: middle;
	font-size: 24px;
	height: 100%;
}


.bar_menu .main_item .main_content {
  text-decoration: none;
  display: block;
  color: #FFFFFF;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}


.main_item:hover {
	background: #FFFFFF;
}


.main_item:hover .main_content{
	color: #FF3F10;
}


.bar_menu img{
	padding-right: 50px;
	padding-left: 20px;
	height: 40px;
}


.head_image {
	position: relative;
	z-index: 0;
	height: 800px;
	width: 100%;
}


.head_image .back img{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}


.head_image .parraf{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	margin: 0px;
}


.head_image .parraf p{
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 86px;
	text-align: center;
	padding-top: 6%;
}


.head_image .parraf hr{
	width: 100px;
	height: 15px;
	background: #FF3F10;
	border: hidden;
}


.content_text{
	margin-left: 10%;
	margin-right: 10%;
}


.content_text p{
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	text-align: justify;
}


.sub_menu {
	display: none;
	list-style: none;
	position: absolute;
	background: #FFFFFF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 6px 6px;
	z-index: 3;
}


.sub_menu .sub_item {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	vertical-align: middle;
	font-size: 16px;
	height: 100%;
}


.sub_menu .sub_item .sub_content {
  text-decoration: none;
  display: block;
  color: #2c2c2d;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}