

body {
	margin: 0;
	padding: 0;
	max-width: 1250px;
	background: #EEEEEE;
}


.page {
	width: 100%;
	margin-left: 6%;
}


.bar_menu ul {
	background: #FF3F10;
	list-style: none;
	margin: 0;
	padding: 0;
}


.bar_menu li {
	display: inline-block;
	background: #FF3F10;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 24px;
	vertical-align: middle;
}


.bar_menu a:hover {
	background: #FFFFFF;
	color: #FF3F10;
}


.bar_menu a {
  text-decoration: none;
  display: block;
  color: #FFFFFF;
	padding: 20px;
	vertical-align: middle;
}


.bar_menu img{
	padding-right: 50px;
	padding-left: 20px;
	height: 40px;
}


.head_image {
	position: relative;
	z-index: 0;
	height: 800px;
}


.head_image .back img{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}


.head_image .parraf{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	margin: 0px;
}

.head_image .parraf p{
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 86px;
	text-align: center;
	padding-top: 6%;
}


.head_image .parraf hr{
	width: 100px;
	height: 15px;
	background: #FF3F10;
	border: hidden;
}


.content_text{
	margin-left: 10%;
	margin-right: 10%;
}


.content_text p{
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	text-align: justify;
}